@using Dz1.Models
@model IEnumerable<Good>

@{
    ViewBag.Title = "Goods";
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "resultTable",
    };
}

<h2>Goods</h2>


<div id="resultTable">
    @*@{Html.RenderPartial("Table");}*@
    @Html.Action("GoodsTable")
</div>

<div class="text-center">
    @for (int i = 0; i < (int)ViewBag.CountPagesGoods; i++)
    {
        @Ajax.ActionLink((i + 1).ToString(),
            "GoodsTable","PartialShop",
            new { id = i + 1},
            options,
            new { @class = "mx-1 btn btn-info pageBtn" })
    }
</div>