
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    @foreach (var category in ViewBag.Categories)
    {
    <tr>
        <td>@category.CategoryId</td>
        <td>@category.CategoryName</td>
        <td>
            @Html.ActionLink("Remove", "RemoveCategory", "Shop", new { id = category.CategoryId }, new { @class = "btn btn-danger"})
        </td>
    </tr>
    }
</table>
<div class="text-center">
    @for (int i = 0; i < (int)ViewBag.CountPagesCategories; i++)
    {
        @Html.ActionLink((i + 1).ToString(),
                            "Categories",
                            "Shop",
                            new { id = i + 1},
                            new { @class = "mx-1 btn btn-info" })
    }
</div>
